/* CSS FOR HEADER */
.topper{
  background-color: #285683;
  padding: 8px;  font-size: 10px;
  font-size: 10px;
  color: white;
  padding-right: 19.5%;
  padding-left: 14.5%;
  text-align: right;
}
#nav-bar{
  padding: 2px 18%;
}
#navbarNav{
  text-align: right;
}
.nav-link{
  font-size: 14px;
  margin: 0
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

@media(min-width:992px) and (max-width:1328px){
  .nav-link{
    font-size: 12px;
  }
}
.container{
  padding: 1% 10%;
}

#background{
  text-align: center;
 background-size: cover;
  padding: 90px 0;
}
.main-heading{
  font-size: 40px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}




body{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.first-sub-head{
  font-weight: 400;
}


.four, .three, .second, .five{
  margin-top:-30px;
}
@media (max-width:992px) {
  .four, .three, .second, .five{
    margin-top:0;
  }
}


/* FOOTER CSS STARTS HERE */

#footer{
  padding:40px 0;
  background-color: #0e72b3;
  color: white;
}
.footer-link-headings{
  color:  #5dba51;
  padding-left: 30px;
}
.quick-link-items{
  text-decoration: none;
  color: white;
}
.quick-link-items:hover{
  text-decoration: none;
  color: #5dba51;
}
.line-break-bottom{
  width: 100%;
  margin-left: 20px;
  border: 1px solid;
}
.container-footer{
  padding: 3% 12%;
}

.fa{
  margin: 0 10px;
  color: white;
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
}

@media screen and (max-device-width: 992px){
  #nav-bar{
    padding: 2px 10%;
  }
}
@media screen and (min-device-width: 992px) and (max-device-width: 1328px) {
  .nav-link{
    margin: 0;
  }
  #nav-bar{
    padding: 2px 10%;
  }
  .topper{
    padding-right: 15%;
    padding-left: 12%;
  }
}

.heading{
  font-size: 28px;
  color: #285683;
  font-weight: bold;
}
@media (max-width:480px){
  .topper{
    padding-left:0;
    padding-right:  2%;
  }
}
.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}

// non-related styling:
body{
  background: #333;
  color: #ddd;
}
h1{
  color: white;
  font-size: 2.25em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
}
.col-lg-3{
  padding:  4%;
}



/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel-cell {
  width: 24%;
  height: 300px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */ */
 .carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
@media (min-width:992px){
  .div-for-small{
  display: none;
}}
@media(max-width:992px){
  .div-for-large{
    display: none;
  }
}
@media (max-width:992px) and (min-width:756px){

  .carousel-cell {
    width: 30%;
    height: 300px;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: carousel-cell;
  }
}

@media (max-width:756px){
  .carousel-cell {
    width: 50%;
    height: 300px;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: carousel-cell;
  }
}
