#carouselExampleCaptions{
  padding-bottom: 300px;
}
#carouselExampleDark{
  /* padding: 60px 0; */
}
.main-image{
  padding:5% 12% 5% 2%;
}
.div-for-small{
  display: none;
}
@media (max-width:1200px){
  .div-for-large{
    display: none;
  }
  .main-image{
    padding:5% 8% 5% 8%;
  }
  .div-for-small{
    display: block;
  }
  #carouselExampleDark{
    padding: 60px 0;
  }
}
@media (max-width:480px){
  .topper{
    padding-left:0;
    padding-right: 5%;
  }
}
